.container1{
    display: flex;
    flex-direction:column;
    background-color: paleturquoise;
    margin-top: 5%;
    margin-left: 35%;
    padding-bottom: 3%;
    padding-top: 1%;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 6%;
}
.text{
    color: black;
    font-size: 35px;
    font-weight: 650;
}
.underline{
    width: 90px;
    height: 3px;
    background: black;
    border-radius: 5px;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 20px;

}
.input input{
    height: 20px;
    width: 200px;
    background: transparent;
    background-color: azure;
    border: 1 px solid black;
    border-radius: 5px;    
}
.forget-pass{
    margin-top: 10px;
    padding-left: 95px;
    font-size: 15px;
    font-weight: 450;
}
.forget-pass span{
    color: blue;
    cursor: pointer;
    font-size: 15px;
    font-weight: 450;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 25px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: 700px;
    cursor: pointer;
    border-radius: 30px;
}
.gray{
    background: #EAEAEA;
    color: #676767;
}